@page "/uygulama-bilgileri/kullanilan-diller"
@model OdiAdmin.Pages.UygulamaAyarlari.Diller.DilListesiModel
@{
}
<div class="breadcrumb-header justify-content-between">
    <div>
        <h4 class="content-title mb-2">Dil Listesi</h4>
    </div>
    <div class="d-flex my-auto">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0);">Uygulama Bilgileri</a></li>
                <li class="breadcrumb-item active " aria-current="page">Uygulama Bilgileri</li>
            </ol>
        </nav>
    </div>
</div>
<div class="main-content-body">
    <div class="row row-cards">
        <div class="col-md-12">
            <div class="card card-img-holder text-default bg-color">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="my-auto">
                            <div class="circle-icon  text-center align-self-center shadow-primary"><img src="~/img/svgicons/translation.svg" alt="circle" class="card-img-absolute"><i class="bx bx-image tx-30 icon-user-bx text-white"></i></div>
                        </div>
                        <div class="project-content my-3">
                            <h3 class="mb-0 tx-18">Dil Listesi</h3>
                        </div>
                        <h2 class="mt-2 ms-auto"><a class="btn btn-primary px-3" href="/yonetim/kariyer-listesi"><i class="fe fe-corner-up-left"></i> Kariyer Listesi</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <table>
        @foreach (var dil in Model.dilListesi)
        {
            <tr><td>@dil.BayrakLinki</td></tr>
        }
    </table>
