@page "/uygulama-ayarlari/fiziksel-ozellik-tipleri"
@model OdiAdmin.Pages.UygulamaAyarlari.FizikselOzellikler.FizikselOzellikTipleriModel
@{
}
<div class="breadcrumb-header justify-content-between">
    <div>
        <h4 class="content-title mb-2">Yetenek Temsilcileri</h4>
    </div>
    <div class="d-flex my-auto">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0);">Kullanıcılar</a></li>
                <li class="breadcrumb-item active " aria-current="page">Yetenek Temsilcileri</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row row-sm">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">

                <div class="btn-flex">
                    <div type="button" ng-if="!dilListeLoading" ng-repeat="dil in dilListesi" ng-click="dilDegistir(dil)" class="{{selectedLanguage.Kisaltma ===dil.Kisaltma ? dilButtonActiveClass : dilButtonClass}}">
                        <img class="me-2" src="{{dil.BayrakLinki}}" />{{dil.Adi}}
                    </div>
                    <div class="spinner-border spinner-border-sm text-secondary" ng-if="dilListeLoading" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row row-sm" ng-if="displayError">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title text-danger"><i class="fas fa-exclamation-triangle"></i>    HATA</h4>
            </div>
            <div class="card-body">
                <div class="alert alert-solid-danger mg-b-0" role="alert">
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button">
                        <span aria-hidden="true">×</span>
                    </button>
                    <strong>HATA MESAJI : </strong> {{errorMsg}}
                </div>
            </div>
        </div>
    </div>
</div>
<!--FORM-->
<div class="row row-sm">
    <div class="col-md-12">
        <div class="card overflow-hidden">
            <div class="card-header   pd-b-0 pd-t-20 bd-b-0">
                <h4 class="card-title mg-b-10"> {{formBasligi}}</h4>
            </div>
            <div class="card-body">
                <div class="row row-sm">
                    <div class="col-md-4">
                        <input ng-model="fizikselOzellikTip.FizikselOzellikTipAdi" placeholder="Fiziksel Özellik Tip Adı" class="form-control" type="text">
                        <input ng-model="fizikselOzellikTip.FizikselOzellikTipKodu" placeholder="Fiziksel Özellik Tip Kodu" class="form-control mg-t-20" placeholder="Input box" type="text">
                        <div class="d-flex align-items-center mg-t-20 ">
                            <label class="me-2 m-0 text-muted">Durum : </label>
                            <div  ng-click="fizikselOzellikTip.Durum==true? fizikselOzellikTip.Durum=false : fizikselOzellikTip.Durum=true " class="main-toggle main-toggle-success  {{fizikselOzellikTip.Durum==true? 'on':''}}">
                                <span></span>
                            </div>
                        </div>
                       
                        <a href="javascript:void(0);" class="btn btn-secondary mg-t-20 float-end" data-bs-target="#formOnay" data-bs-toggle="modal">Kaydet</a>
                        <a href="javascript:void(0);" class="btn btn-outline-primary mg-t-20 float-end me-2" ng-click="fizikselOzellikTip=fizikselOzellikTipDefault">Temizle</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--end of form-->
<!--Form Onay Model-->
<div class="modal  effect-scale" data-bs-backdrop="static" tabindex="-1" data-bs-keyboard="false" id="formOnay">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title">{{formBasligi}}</h6><button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
               <div class="table-responsive mg-b-20">
                    <table class="table  table-striped card-table mt-0 mb-0 table-nowrap border  ">
                        <tr class="bg-gray-300">
                            <th class="align-middle">Dil</th>
                            <th class="align-middle">Adi</th>
                            <th class="align-middle">Kodu</th>
                            <th class="align-middle">Durum</th>
                        </tr>
                        <tbody>
                            <tr>
                                <td class="align-middle">{{selectedLanguage.Adi}}</td>
                                <td class="align-middle">{{fizikselOzellikTip.FizikselOzellikTipAdi}}</td>
                                <td class="align-middle">{{fizikselOzellikTip.FizikselOzellikTipKodu}}</td>
                                <td class="align-middle">{{fizikselOzellikTip.Durum==true ? 'Aktif' :'Pasif'}}</td>
                            </tr>
                        </tbody>
                    </table>
               </div>
                <div class="card-title mg-t-20 text-muted"> Lütfen verileri kontrol ediniz.</div>
            </div>
            <div class="modal-footer">
               
                <button class="btn  btn-secondary" ng-click="FormSubmit()" type="button">Kaydet</button>
                <button class="btn  btn-danger" data-bs-dismiss="modal" id="btnFormConfirmModalClose" type="button">İptal</button>
            </div>
        </div>
    </div>
</div>
<!--End Of Form Onay Model-->
<div class="row row-sm">
    <div class="col-md-12">
        <div class="card overflow-hidden">
            <div class="card-header bg-transparent pd-b-0 pd-t-20 bd-b-0">
                <div class="d-flex justify-content-between">
                    <h4 class="card-title mg-b-10"> Fiziksel Özellik Tip Listesi ({{selectedLanguage.Adi}})</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="spinner-border spinner-border-sm text-secondary" ng-if="tableLoading" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div ng-if="!tableLoading" class="table-responsive">
                    <table class="table  table-striped card-table mt-0 mb-0 table-nowrap border">
                        <thead>
                            <tr>
                                <th class="align-middle">Adi</th>
                                <th class="align-middle">Kodu</th>
                                <th class="align-middle">Durum</th>
                                <th class="align-middle">Fiziksel Özellikler</th>
                                <th class="align-middle">İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="tip in fizikselOzellikTipListesi">
                                <td>{{tip.FizikselOzellikTipAdi}}</td>
                                <td>{{tip.FizikselOzellikTipKodu}}</td>
                                <td>{{tip.Durum}}<a href="#">Durum Değiştir</a></td>
                                <td><a href="#">Özellikler</a></td>
                                <td><a href="#" ng-click="edit(tip)">Düzenle</a></td>
                                <td><a href="#">Sil</a></td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section customscripts {
  <script>
      //JAVASCRIPT-JQUERY
       
      function formConfirmModalClose() {
          $('#btnFormConfirmModalClose').click();
      }

      //ANGULAR
        var app = angular.module('myApp', ['ngAnimate']);
        app.controller('myCtrl', function ($scope, $http) {
            var parent = $scope;

            //TANIMLAMALAR

            //loading tanımlamları
            parent.dilListeLoading = true;
            parent.tableLoading = true;

            //genel
            parent.errorMsg = "";
            parent.modelError = "";
            parent.displayError = false;
            parent.pageUrl = "/uygulama-ayarlari/fiziksel-ozellik-tipleri";
            parent.postData = {};
            //dil alanı tanımlamaları
            parent.dilButtonClass = "btn btn-outline-light me-2";
            parent.dilButtonActiveClass = "btn btn-outline-secondary me-2"
            parent.selectedLanguage = { Kisaltma: 'tr', Adi: "Türkçe", id: 1 };
            parent.dilListesi = [];
            //fiziksel ozellik tipi tanımlamalar
            parent.tableLoading = true;
            parent.fizikselOzellikTipListesi = [];            
            parent.fizikselOzellikTip = { "Id": 0, "FizikselOzellikTipAdi": "", "FizikselOzellikTipKodu": "", "Durum": true, "DilId": parent.selectedLanguage.id };
            //form tanımlamaları
            parent.formBasligi = "Yeni Fiziksel Özellik Tipi";
            parent.formButton = "Kaydet";
            parent.DilID = {};




            //METOTLAR








            //api metotlar
            parent.DilListesiGetir = function () {
                $.ajax({
                    url: '?handler=DilListesi',
                    method: 'post',
                    contentType: "application/json",
                    data: {},
                    success: function (resp) {
                        var res = JSON.parse(resp);
                        if (res.Sonuc) {
                            parent.dilListesi = res.Data;
                            parent.dilListeLoading = false;
                            parent.$apply();
                        }
                        else {
                            parent.errorMsg = res.Mesaj;
                            parent.displayError = true;
                            parent.$apply();
                        }
                    },
                    error: function (xhr, status, error) {
                        parent.errorMsg = error;
                        parent.displayError = true;
                    }
                });
            };
            parent.FizikselOzellikListesiGetir = function () {
                parent.postData = { "DilId": parent.selectedLanguage.id };
                $.ajax({
                    url: '?handler=FizikselOzellikListesiGetir',
                    method: 'post',
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify(parent.postData),
                    success: function (resp) {
                        if (resp.Sonuc) {
                            parent.fizikselOzellikTipListesi = resp.Data;
                            parent.tableLoading = false;
                            parent.$apply();
                        }
                        else {
                            parent.errorMsg = res.Mesaj;
                            parent.displayError = true;
                            parent.$apply();
                        }
                    },
                    error: function (xhr, status, error) {
                        parent.errorMsg = error;
                        parent.displayError = true;
                    }
                });

            }


            parent.FormSubmit = function () {
                parent.formKayitPath = parent.fizikselOzellikTip.Id == 0 ? '?handler=YeniFizikselOzellik' :  '?handler=FizikselOzellikGuncelle'

                var sonuc = parent.formControl();
                
                
                if (sonuc) {
                    $.ajax({
                        url: parent.formKayitPath,
                        method: 'post',
                        contentType: "application/json",
                        dataType: "json",
                        data: JSON.stringify(parent.fizikselOzellikTip),
                        success: function (resp) {
                            var res = resp; /* JSON.parse(resp); */
                            if (res.Sonuc) {
                                parent.fizikselOzellikTipListesi = res.Data;
                                parent.fizikselOzellikTip = { "Id": 0, "FizikselOzellikTipAdi": "", "FizikselOzellikTipKodu": "", "Durum": true, "DilId": parent.selectedLanguage.id };
                                parent.$apply();
                                formConfirmModalClose();
                            }
                            else {
                                parent.errorMsg = res.Mesaj;
                                parent.$apply();
                                parent.displayError = true;
                            }
                        },
                        error: function (xhr, status, error) {
                            parent.errorMsg = error;
                            parent.displayError = true;
                        }
                    });
                }
                else {
                    $('#btnFormConfirmModalClose').click();
                    parent.errorMsg = "Fiziksel Özellik Tip Adı ve Fiziksel Özellik Tip Kodu bilgilerini giriniz";
                }
            }

            // frontend metotlar
            parent.dilDegistir = function (dil) {
                parent.selectedLanguage = dil;

            }
            parent.formControl = function () {
                var error = false;
               
                if (parent.fizikselOzellikTip.FizikselOzellikTipAdi === "") {
                    parent.modelError = "Fiziksel özellik tip adını giriniz";
                    error = true;
                }
                if (parent.fizikselOzellikTip.FizikselOzellikTipKodu == "") {
                    parent.modelError = "Fiziksel özellik tip kodu";
                    error = true;
                }
                if (error == false) return true;
                else return false;
            }
            parent.edit = function (tip) {
                console.log(tip)
                parent.fizikselOzellikTip = tip;
            }


            //START
            angular.element(document).ready(function () {
                parent.DilListesiGetir();
                parent.FizikselOzellikListesiGetir();

            });

        });
  </script>
}